.top-bar {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    background: #FFF8F0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
    padding: 10px 20px;
}


.profile-picture {
    width: 40px;
    height: 40px;
    background: url('pictures/profile-picture.png') no-repeat center/cover; 
    border-radius: 100px;
    margin-right: 10px;   
}


h1.ml-2{
    width: 96px;
    height: 36px;
    margin:0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;

    color: #6B3B48;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-control.search-box.ml-3 {
    box-sizing: border-box;

    padding: 8px;

    width: 500px;
    height: 36px;

    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-left: 10px;
}


.btn-primary.ml-2,
.btn-success.ml-2,
.btn-info.ml-2 {
    padding: 10px 15px;
    margin-left: 10px;

    height: 36px;

    background: #FFF8F0;
    cursor: pointer;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #511948;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.container.mt-5.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    gap: 20px;

    height: auto;

    isolation: isolate;
    background: #511948;
}


h1.ml-3 {
    width: 520px;
    height: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}



p.ml-4 {
    width: 520px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}



.container input {
    box-sizing: border-box;
    padding: 8px 12px;


    width: 416px;
    height: 36px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}



.search-button {
    padding: 12px;

    width: 146px;
    height: 52px;

    background: #000000;
    color:#FFFFFF;
    border-radius: 8px;
}


.action-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
}


.product_container.mt-6.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 170px;
    isolation: isolate;

    width: auto;
    height: auto;

    background: #FFF8F0;
}

.ml-6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #511948;
}

.results{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #511948;

    margin-left: 1.5rem; 
    flex-grow: 1;
}

.result_elements {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}

.remove-search-button {
    width: 146px;
    height: 52px;

    background: #000000;
    color:#FFFFFF;
    border-radius: 8px;
}

.ml-7 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: start;

    color: #000000;
}

.btn.btn-primary.view {
    padding: 12px;

    width: 148px;
    height: 48px;

    background: #000000;
    border-radius: 8px;
    color:#FFFFFF
}

.l_product_container.mt-6.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    isolation: isolate;

    width: auto;
    height: auto;

    background: #FFF8F0;
}


.search_results_container.mt-6.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    isolation: isolate;

    width: auto;
    height: auto;

    background: #FFF8F0;
}

.store_container.mt-6.text-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    gap: 60px;
    isolation: isolate;

    width: auto;
    height: auto;

    background: #FFF8F0;

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    z-index: 4;
}

.products-container{
    background: #FFF8F0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.product-box {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;

    width: auto;
    height: auto;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.product_info {
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
    padding: 5px; 
}

.product-price,
.product-shop,
.product-discount,
.product-expiration {
    margin: 0; 
    padding: 2px 0; 
}


.product-img {
    width: 180px;
    height: 180px;
    margin-right: 50px;
}


.store-text {
    display: flex;
    flex-direction: column;
}

.stores {
    display: flex;
    flex-direction: row;
    gap:40px;
    padding-left: 200px; 
}

.icon-container {
    width: 100px;
    height: 100px;

    background: rgba(0, 0, 0, 0.05);
    border-radius: 50px;

    margin-left:40px;
}

.store-icon {
    font-size: 48px; 
    width: 100px; 
    height: 100px; 
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    text-align: center; 
    line-height: 100px; 
}


.store-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}

.store-hours {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: rgba(0, 0, 0, 0.5);
}

.store-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}


.container, .l_product_container, .product_container, .store_container, .search_results_container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}


.container:last-child, 
.l_product_container:last-child, 
.product_container:last-child, 
.store_container:last-child {
    border-bottom: none; 
}


.price-container {
    display: flex; 
    align-items: center; 
}

.product-price {
    margin-left: 10px; 
    font-weight: bold; 
}

.product-discount_price {
    text-decoration: line-through; 
    color: red; 
}

.product-name {
    margin-bottom: 0; 
}

.form-control.search-box.ml-3-2 {
    width:150px;
    box-sizing: border-box;
    padding: 8px;
    height: 36px;

    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-left: 10px;
}

.action-form-barcode {
    display: flex; 
    flex-direction: row; 
    gap: 5px;
}

.btn-primary.mt-3 {
    gap: 12px; 
    padding: 5px; 

    width: 60px;
    height: 35px;

    background: #000000;
    border-radius: 8px;
    color:#FFFFFF
}

.information_container.mt-6.text-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 170px 30px;
    gap: 44px;
    isolation: isolate;
    height: auto;
    background: #FFF8F0;
}


.show-more-btn {
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:53px;
}

.product-details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width:150px;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}