.top-bar {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    background: #FFF8F0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
    padding: 10px 20px;

}


.profile-picture {
    width: 40px;
    height: 40px;
    background: url('pictures/profile-picture.png') no-repeat center/cover; 
    border-radius: 100px;
    margin-right: 10px;
    
}


h1.ml-2{
    width: 96px;
    height: 36px;
    margin:0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;

    color: #6B3B48;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-control.search-box.ml-3 {
    box-sizing: border-box;

    padding: 8px;

    width: 500px;
    height: 36px;

    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-left: 10px;
}


.btn-primary.ml-2,
.btn-success.ml-2,
.btn-info.ml-2 {
    padding: 10px 15px;
    margin-left: 10px;

    height: 36px;

    background: #FFF8F0;
    cursor: pointer;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #511948;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.container.mt-5.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    gap: 20px;

    height: auto;

    isolation: isolate;
    background: #511948;
}


h1.ml-3 {
    width: 520px;
    height: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}



p.ml-4 {

    width: 520px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}



.container input {
    box-sizing: border-box;
    padding: 8px 12px;


    width: 416px;
    height: 36px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;

}



.search-button{
    padding: 12px;

    width: 146px;
    height: 52px;

    background: #000000;
    color:#FFFFFF;
    border-radius: 8px;
}

.action-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the button below the search box */
    gap: 10px; /* Adds space between the search box and button */
}
