.top-bar {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background: #FFF8F0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
    padding: 10px 20px;
}

.product-details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width:150px;
    gap: 10px;
}


.profile-picture {
    width: 40px;
    height: 40px;
    background: url('pictures/profile-picture.png') no-repeat center/cover; 
    border-radius: 100px;
    margin-right: 10px; 
}

.profile-picture-bigger {
    width: 80px;
    height: 80px;
    background: url('pictures/profile-picture.png') no-repeat center/cover; 
    border-radius: 100px;
    margin-right: 10px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 100px;
}


h1.ml-2{
    width: 96px;
    height: 36px;
    margin:0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;

    color: #6B3B48;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.form-control.search-box.ml-3 {
    box-sizing: border-box;

    padding: 8px;

    width: 500px;
    height: 36px;

    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-left: 10px;
}


.btn-primary.ml-2-1,
.btn-primary.ml-2-2,
.btn-primary.ml-2-3,
.btn-success.ml-2,
.btn-info.ml-2 {
    padding: 10px 15px;
    margin-left: 10px;

    height: 36px;

    background: #FFF8F0;
    cursor: pointer;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
 
    color: #511948;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-primary.ml-2-3{
    width: 66px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;


    color: #511948;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

    flex: none;
    order: 0;
    flex-grow: 0;
}


.container.mt-5 {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    gap: 20px;

    height: auto;

    isolation: isolate;
    background: #511948;
}

.user-info {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 40px;
}

.user-info-2 {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    margin-top: 40px;
    margin-left:500px;
    gap:20px;
}

.btn-primary.ml-3 {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    width: 160px;
    height: 48px;

    border: 1px solid #FFFFFF; 
    border-radius: 8px;

    background-color: transparent; 
    color: #FFFFFF; 
    cursor: pointer; 

    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.btn-primary.ml-3:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}


.btn-primary.ml-3-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    width: 160px;
    height: 48px;

    background: #000000;
    color:#FFFFFF;
    border-radius: 8px;
}


h1.ml-3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFF8F0;
}


p.ml-4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    margin-bottom: 5px;
    color: #FFFFFF;
}

p.ml-5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;

    color: #FFFFFF;
}


.btn.btn-primary.ml-2{
    width: 171px;
    height: 36.16px;

    background: #000000;
    border-radius: 8px;
    color: #FFFFFF;
}


.added_products_container.mt-6.text-center{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding: 0px 170px 56px;
    gap: 44px;
    isolation: isolate;
    height: auto;
    background: #FFF8F0;
}

.added_products_left,
.added_products_right {
    width: 100%;
    max-width: 600px; 
}

.added_products_left {
    text-align: left;
    border-radius: 10px;
}

.h1.subheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.p.subtext {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.subtext-aura {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    max-width: 600px; 
    margin: 0 auto; 
    text-align: center; 
}

.point-containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

.point-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px; 

    width: 540px;
    height: 124px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.point-container p {
    margin: 0; 
}

.point_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.5);
}

.total_points {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;

    color: #000000;
}

.point_change {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.default-graph-picture {
    width: 1100px;
    height: 440px;
    background: url('pictures/defaultgraph.png') no-repeat center/cover; 
    margin-right: 10px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 100px;
}

.save_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    width: 240px;
    height: 48px;

    background: #000000;
    border-radius: 8px;
    color:#FFFFFF;
}

.added_products_right {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top:80px;
}

.p.bigtext {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;

    color: #000000;
}

.aura_container.mt-6.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 170px 56px;
    gap: 44px;
    isolation: isolate;
    height: auto;
    background: #FFF8F0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.update_profile_container.mt-6.text-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 170px 56px;
    gap: 300px;
    isolation: isolate;
    height: auto;
    background: #FFF8F0;
}

.update_profile_right {
    text-align: left;
}

.update_profile_left {
    margin-top: 70px;
    gap: 160px; 

}

.reducing_waste_container.mt-6.text-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 170px 56px;
    gap: 250px;
    isolation: isolate;
    height: auto;
    background: #FFF8F0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.reducing_waste_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.recry_text {
    max-width: 120px 
}

.information_container.mt-6.text-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 170px 56px;
    gap: 44px;
    isolation: isolate;
    height: auto;
    background: #FFF8F0;
}


.btn.btn-primary.ml-6 {
    width: 148px;
    height: 48px;

    background: #000000;
    border-radius: 8px;
    color: #FFFFFF;
}

.form-control.search-box.ml-6{
    box-sizing: border-box;
    padding: 8px;
    gap: 4px;

    width: 1094px;
    height: auto;
    margin-top: 50px;

    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    margin: 15% auto; 
    
    padding: 20px;
    box-sizing: border-box;

    position: relative;
    width: 815px;
    height: auto;

    background: #FFF8F0;
    border: 1px solid #511948;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2.section-title{
    border:none;
    background: #FFF8F0;
}

.btn-primary-add{ 
    padding: 12px;
    margin:10px;

    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
}
 

.input-field {
    display: block; 
    width: 300px; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    font-size: 16px; 
}

.input-group label {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #6B3B48;
    margin-right: 10px;
}

.input-group {
    display: flex; 
    align-items: center; 
    margin-bottom: 15px; 
}


.product-box {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;

    width: auto;
    height: auto;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    flex: none;
    order: 0;
    flex-grow: 0;
}


.product_info {
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
    padding: 5px; 
}

.product-price,
.product-shop,
.product-discount,
.product-discount_price,
.product-expiration {
    margin: 0; 
    padding: 2px 0; 
}


.product-img {
    width: 180px;
    height: 180px;
    margin-right: 50px;
}

.btn-primary-edit{
    padding: 12px;

    width: 148px;
    height: 48px;

    background: #000000;
    border-radius: 8px;
    color:#FFFFFF;
}

.btn-primary-save{
    padding: 12px;

    width: 148px;
    height: 48px;

    background: #000000;
    border-radius: 8px;
    color:#FFFFFF;
}

.btn-secondary-delete{
    padding: 12px;

    background: #000000;
    border-radius: 8px;
    color:#FFFFFF;

}

.product_buttons{
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
    padding: 5px;
}

.price-container {
    display: flex; 
    align-items: center; 
}

.product-price {
    margin-left: 10px;
    font-weight: bold;
}

.product-discount_price {
    text-decoration: line-through; 
    color: red; 
}

.store-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-container {
    margin-left:40px;    

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170px;
}

.store-icon {
    font-size: 48px; 
    width: 100px; 
    height: 100px; 
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    text-align: center; 
    line-height: 100px; 
    margin-bottom: 5px;
    flex-shrink: 0;
}

.icon-text {
    margin-top: 12px; 
    font-size: 14px; 
}

.icon-text-2 {
    margin-top: 12px; 
    font-size: 14px; 
    margin-left: 30px;
}

.l_product_by_me_container.mt-6.text-center{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-top:12px;
    margin-left:-33px;

    width: auto;
    height: auto;

    background: #FFF8F0;
}

.products-container{
    background: #FFF8F0;
    display: flex;
    justify-content: center;
    gap: 16px;
}
