.playfair-display-uniquifier {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* #login {
    font-weight: bold;
}

#fpassword {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #6B3B48;
} */

body {
    font-family: "Playfair Display", serif; 
    align-items: left;
    justify-items: left;
    color: #6B3B48;
    background-image: url("pictures/tausta.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    /* transition: transform 0.3s ease; */
}
/* body:hover {
    /* Suurenna taustakuvaa hiiren hoverilla */
    /* transform: scale(1.1); 
} */

table {

    border-collapse: collapse;
    border: none;
    width: 105%;

}

td {
    border: none;
    padding: 0 1%;


}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.outer-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0 auto;

    /* width: 100vw;
    margin: 0 auto;
    margin-left: 100%;
    text-align: left;
    padding: 1rem;
    text-align: center;
    display: flex; 
    align-items: center;
    
    margin: auto;
    margin-left: 50%;
    justify-content: flex-start;
    height: 100vh; */
}

.inner-container {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;

}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* #fpassword {
    cursor: pointer;
  }

  #fpassword:hover {
    text-decoration: underline;
  }

  .line-container {
    display: flex;
    /* Keskittää viivat ja tekstin pystysuunnassa */
    /*align-items: center;     
}

  .line {
    /* Antaa viivojen kasvaa tilan mukaan */
    /*flex-grow: 1;           
    height: 2px;
    background-color: #6B3B48;
    /* Lisätään väliä viivojen ja tekstin väliin */
    /*margin: 0 10px;         
} */
