<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

<!-- product container --> 
<div class="products-container">
    {% for product in products %}
        {% for price in product.prices %}
            <div class="product-box" data-product-id="{{ product.product_id }}">
                <div class="product-image">
                    <img 
                        src="{{ get_product_image(product) if get_product_image(product) else '/static/pictures/placeholder-image.jpg' }}" 
                        class="product-img" alt="Product Image">
                </div>
                <div class="product_info">
                    <h3 class="product-name">{{ product.product_name }}</h3>

                    <div class="price-container">
                        <p class="product-discount_price">{{ price.price }} €</p>
                        {% if price.discount_price is not none %}
                            <p class="product-price">{{ price.discount_price }} €</p>
                        {% elif price.waste_discount_percentage is not none %}
                            <p class="product-price">- {{ price.waste_discount_percentage }}%</p>
                        {% endif %}
                    </div>
                                           
                    <p class="product-shop">{{ price.shop.store_name if price.shop else 'N/A' }}</p>
                    
                    {% if price.waste_valid_to is not none %}
                        <p class="product-expiration">{{ price.waste_valid_to.strftime('%d.%m.%Y') }}</p>
                    {% elif price.discount_valid_from is not none and price.discount_valid_to is not none %}
                        <p class="product-expiration">
                            {{ price.discount_valid_from.strftime('%d.%m.%Y') }} - {{ price.discount_valid_to.strftime('%d.%m.%Y') }}
                        </p>
                    {% endif %}
                                      
                    <div class="product-details-container">
                        <button class="show-more-btn" onclick="toggleDetails(this)">+</button>
                        <div class="additional-details" style="display: none;">
                            <p><strong>Barcode:</strong> {{ product.barcode }}</p>
                            <p><strong>Brand:</strong> {{ product.brand }}</p>
                            <p><strong>Sub-brand:</strong> {{ product.sub_brand }}</p>
                            <p><strong>Parent Company:</strong> {{ product.parent_company }}</p>
                            <p><strong>Weight:</strong> {{ product.weight }}</p>
                            <p><strong>Volume (ml):</strong> {{ product.volume_ml }}</p>
                            <p><strong>Category:</strong> {{ product.category }}</p>
                            <p><strong>CO2 Footprint:</strong> {{ product.CO2 }}</p>
                            <p><strong>EcoScore:</strong> {{ product.esg_score }}</p>
                            <p><strong>Gluten Free:</strong> {{ product.gluten_free }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>

<script>
function toggleDetails(button) {
    const details = button.nextElementSibling;
    if (details.style.display === "none") {
        details.style.display = "block";
        button.textContent = "-"; 
    } else {
        details.style.display = "none";
        button.textContent = "+"; 
    }
}
</script>
