<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- product container --> 
    <div class="products-container">
        {% for product in products %}
            {% for price in product.prices %}
                <div class="product-box" data-product-id="{{ product.product_id }}">
                    <div class="placeholder-image"></div>
                    <div class="product_info">
                    <h3 class="product-name">{{ product.product_name }}</h3>
                    <div class="price-container">
                        <p class="product-discount_price">{{ price.price }} €</p>
                        <p class="product-price">{{ price.discount_price }} €</p>
                    </div>
                    <p class="product-discount"> - {{ price.waste_discount_percentage if price.waste_discount_percentage else 'N/A' }}%</p>
                    <p class="product-shop">{{ price.shop.store_name if price.shop else 'N/A' }}</p>
                    <p class="product-expiration">{{ price.discount_valid_to.strftime('%d.%m.%Y') if price.discount_valid_to else 'N/A' }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

</body>
</html>
