<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='my_profile.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

        <!-- Top bar -->
        <div class="top-bar d-flex align-items-center">
            <div class="profile-picture"></div>
            <h1 class="ml-2">
                <a href="{{ url_for('index') }}" style="text-decoration: none; color: inherit;">Kitsain</a>
            </h1>
            <input type="text" class="form-control search-box ml-3" placeholder="Search...">
            <form action="{{ url_for('products_page') }}" method="GET" class="d-inline">
                <button type="submit" class="btn btn-primary ml-2-1">Products</button>
            </form>
            <form action="{{ url_for('shops_page') }}" method="GET" class="d-inline">
                <button type="submit" class="btn btn-primary ml-2-2">Stores</button>
            </form>
            <button class="btn btn-success ml-2">Add</button>
            <form action="{{ url_for('my_profile_page') }}" method="GET" class="d-inline">
                <button type="submit" class="btn btn-primary ml-2-3">Profile</button>
            </form>

            <!-- Google Translate element -->
            <div id="google_translate_element"></div>


            <!-- <select class="ml-2">
                <option>EN</option>
                <option>FI</option> -->
                <!-- Add more languages as needed -->
            <!-- </select> -->
        </div>

    <!-- Welcome container -->
    <div class="container mt-5 text-center">
        <div class="profile-picture-bigger"></div>

        <div class="user-info">
        <p class="ml-4">{{ user.username }}, </p>
        <p class="ml-5">welcome to your profile!</p>
        </div>

        <div class="user-info-2">
        <form action="{{ url_for('login')}}" method="Get", class="d-inline">
            <button type="submit" class="btn btn-primary ml-3" id="logoutButton">Logout</button>
        </form>
        <button type="submit" class="btn btn-primary ml-3-2" id="editProfileButton">Edit Profile</button>
        </div>
    </div>

    <!-- Added Products Section -->
    <div class="added_products_container mt-6 text-center">
        <div class="added_products_left">
        <h1 class="subheader">Added Products</h1>
        <p class="subtext">Here you can find the products you've already added</p>
        <button class="save_button">View More</button>
        </div>

        <div class="added_products_right">
        <p class="bigtext">"Did you spot a new discounted product? Add it by using the EAN code."</p>
        <h2>SCAN EAN</h2>
        <h3>OR</h3>
        <input type="text" id="ean" name="ean" class="input-field" value="{{ ean }}" placeholder="Enter EAN code">
        <button class="save_button">Fetch Item</button>
        </div>
    </div>

    <!-- Aura Points Section -->
    <div class="aura_container mt-6 text-center">
        <h1 class="subheader">My Aura Points</h1>
        <p class="subtext-aura">Help others find discounts and reduce waste. By adding discounted products, you earn Aura points. Once you've accumulated enough points, you can redeem a gift card to a grocery store of your choice.</p>
        <button class="save_button">Redeem a gift card</button>
        <div class="point-containers">
            <div class="point-container">
                <p class="point_header">Total Points</p>
                <p class="total_points">{{ stats.total_points }}</p>
                <p class="point_change">+{{ stats.recently_added_points }}</p>
            </div>
            <div class="point-container">
                <p class="point_header">Points Earned/month</p>
                <p class="total_points">{{ stats.current_month_points }}</p>
                <p class="point_change">+{{ stats.difference_between_months }}</p>
            </div>
        </div>
        <div class="default-graph-picture"></div>
    </div>

    <!-- Update Profile Section -->
    <div class="update_profile_container mt-6 text-center">
        <div class="update_profile_right">
        <h1 class="subheader">Update Profile Information</h1>
        <p class="subtext">Keep your details up to date</p>
        </div>

        <div class="update_profile_left">
        <label for="full_name">Full name</label>
        <input type="text" id="full_name" name="full_name" class="input-field" value="{{ full_name }}" placeholder="Enter your full name">

        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="input-field" value="{{ email }}" placeholder="Enter your email">
    
        <button class="save_button">Save Changes</button>   
        </div> 
    </div>

    <!-- Reducing waste Section -->
    <div class="reducing_waste_container mt-6 text-center">
        <div class="reducing_waste_left">
        <h1 class="subheader">Read more about reducing waste.</h1>
        <p class="subtext">Stay tuned for current news.</p>
        <button class="save_button">Read more</button>    
        </div>

        <div class="reducing_waste_right">
        <p>About us</p>
        <p class="recry_text">Interested in becoming a part of the Kitsain team?</p>
        </div>
    </div>


    <!-- Information section -->
    <div class="information_container mt-6 text-center">
        <p>Contact Us: support@example.com</p>
        <p>Follow Us: @YourStore</p>
        <p>Terms & Conditions</p>  
    </div>

    <script src="../static/language_support.js"></script>

</body>
</html>