<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='newPasswordStyle.css') }}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="outer-container">
            <div class="inner-container">
                <h1>ENTER EMAIL</h1>
                <form action="{{ url_for('static', filename='passwordSetConfirmation.html') }}" id="emailForm">
                    <div id="errorMessage" style="color: red; visibility: hidden;">Täytä tämä kenttä</div>
                    <label for="quidetext" id="quidetext" name="quidetext">The link for changing your password will be sent to this email<br><br></label>
                    <table border="1">
                        <tr>
                            <td>
                                <label for="email">ENTER YOUR EMAIL </label>
                            </td>
                            <td>
                                <div class="input-container">
                                    <input type="email" id="email" name="email" required><br><br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="emailagain" >RE-ENTER YOUR EMAIL</label>
                            </td>
                            <td>
                                <div class="input-container">
                                    <input type="email" id="emailagain" name="emailagain" required><br><br>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <input type="submit" value="Send link">
                </form>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/newPassword.js') }}"></script>
</body>
</html>
