<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='products_page.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    
</head>
<body>

        <!-- Top bar -->
        <div class="top-bar d-flex align-items-center">
            <div class="profile-picture"></div>
            <h1 class="ml-2">
                <a href="{{ url_for('index') }}" style="text-decoration: none; color: inherit;">Kitsain</a>
            </h1>
            <input type="text" class="form-control search-box ml-3" placeholder="Search...">
            <form action="{{ url_for('products_page') }}" method="GET" class="d-inline">
                <button type="submit" class="btn btn-primary ml-2-1">Products</button>
            </form>
            <form action="{{ url_for('shops_page') }}" method="GET" class="d-inline">
                <button type="submit" class="btn btn-primary ml-2-2">Stores</button>
            </form>
            <button class="btn btn-success ml-2">Add</button>
            <form action="{{ url_for('my_profile_page') }}" method="GET" class="d-inline">
                <button class="btn btn-info ml-2">Profile</button>
            </form>
            <!-- Google Translate element -->
            <div id="google_translate_element"></div>
        </div>

    <!-- Central search box for products -->
    <div class="container mt-5 text-center">
        <h1 class="ml-3">View all products</h1>
        <p class="ml-4">Here you will find all added and current products at a discounted price. From this view, you can also edit already added products or add new ones. Remember that you can only add current products and specify their locations and other details. Also, make sure to remove a product if you notice it has run out from the store shelf.</p>
        <button type="submit" class="btn btn-primary ml-2" id="addButton">Add</button>
    </div>

    <!-- Product Section -->
    <div class="product_container mt-6 text-center">
        <input type="text" class="form-control search-box ml-6" placeholder="Search for products...">
        <form action="{{ url_for('filter_products_method') }}" method="POST" class="action-form">
            <button type="submit" class="btn btn-primary ml-6" id="filterButton">Filter</button>
        </form>
    </div>

    <!-- Modal for Filtering Products -->
    <div id="filterProductModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>            
            <form action="{{ url_for('filter_products_method') }}" method="POST" class="form">
                <div class="input-group">
                    <label for="product_name_filter">Product Name:</label>
                    <input type="text" id="product_name_filter" name="product_name_filter" class="input-field" value="{{ product_name_filter }}">
                </div>
                
                <div class="input-group">
                    <label for="shop">Shop:</label>
                    <input type="text" id="shop" name="shop" class="input-field" value="{{ shop }}">
                </div>
                
                <div class="input-group">
                    <label for="price">Price:</label>
                    <input type="number" step="0.01" id="price" name="price" class="input-field" value="{{ price }}">
                </div>
                
                <div class="input-group">
                    <label for="waste_discount">Waste Discount (%):</label>
                    <input type="number" step="0.1" id="waste_discount" name="waste_discount" class="input-field" value="{{ waste_discount }}">
                </div>
                
                <div class="input-group">
                    <label for="filter_expiration_date">Expiration Date:</label>
                    <input type="date" id="filter_expiration_date" name="filter_expiration_date" class="input-field" value="{{ expiration_date }}">
                </div>
                
                <button type="submit" class="btn-primary-add">Filter</button>
            </form>
        </div>
    </div>

    <!--Modal for adding a new product-->
    <div id="addProductModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="add-headers">
            <h2 class="section-title">Add Product / Update Product Details</h2>
            <p>Add a product or modify product information with ease.</p>
            </div>

            <form action="{{ url_for('add_product_method') }}" method="POST" id="add-product-form" class="form">

                <div class="adding-section">
                    <h2 class="section-title">Product Details</h2>

                    <div class="input-groups">
                        <div class="input-group">
                            <label for="barcode">Barcode</label>
                            <input type="text" id="barcode" name="barcode" required class="input-field" placeholder="Enter barcode / filled automatically if barcode scanned">
                        </div>

                        <div class="input-group">
                            <label for="product_name">Product Name</label>
                            <input type="text" id="product_name" name="product_name" required class="input-field" placeholder="Enter product name / filled automatically if barcode is found">
                        </div>
                        
                        <div class="input-group">
                            <label for="shop_add">Shop</label>
                            <select id="shop_add" name="shop_add" required class="input-field" placeholder="Select the nearest shop from list / is added automatically if GPS allowed">
                                {% for shop in shops %}
                                    <option value="{{ shop.shop_id }}">{{ shop.store_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="input-group">
                            <label for="add-price">Normal Price</label>
                            <input type="number" step="0.01" id="add-price" name="add-price" required class="input-field" placeholder="Enter normal price">
                        </div>

                        <p>Select discount or waste product</p>
                    </div>
                </div>


                <div class="adding-section-no-border">
                    <h2 class="section-title">Discount Campaign</h2>

                    <div class="input-groups">
                        <div class="input-group">
                            <label for="discount_price">Discount Price</label>
                            <input type="number" step="0.01" id="discount_price" name="discount_price" class="input-field" placeholder="Enter discount price">
                        </div>
                        
                        <div class="input-group">
                            <label for="discount_valid_from">Discount Valid From</label>
                            <input type="date" id="discount_valid_from" name="discount_valid_from" class="input-field">
                        </div>

                        <div class="input-group">
                            <label for="discount_valid_to">Discount Valid To</label>
                            <input type="date" id="discount_valid_to" name="discount_valid_to" class="input-field">
                        </div>

                        <p class="separator-text">or</p>
                    </div>
                </div>

                <div class="adding-section-down-border">
                    <h2 class="section-title">Waste Discount</h2>

                    <div class="input-groups">
                        <div class="input-group">
                            <label for="waste_discount_add">Waste Discount (%)</label>
                            <input type="number" step="0.1" id="waste_discount_add" name="waste_discount_add" class="input-field" oninput="calculateDisountPrice()" placeholder="Enter discount percentage">
                        </div>
            
                        <div class="input-group">
                            <label for="expiration_date">Expiration Date of Product</label>
                            <input type="date" id="expiration_date" name="expiration_date" class="input-field">
                        </div>

                        <div class="input-group">
                            <label for="product_amount">Amount in Stock</label>
                            <div class="btn-group margin-top" role="group" aria-label="Stock Amount Options">
                                <button type="button" class="btn btn-secondary-add" id="fewButton" data-value="Few">Few</button>
                                <button type="button" class="btn btn-secondary-add" id="moderateButton" data-value="Moderate">Moderate</button>
                                <button type="button" class="btn btn-secondary-add" id="manyButton" data-value="Many">Many</button>
                            </div>
                            <input type="hidden" id="product_amount" name="product_amount" value="">
                        </div>
                        
                    </div>
                </div>

                <div class="all-buttons-add">
                    <button type="button" class="btn-primary-add-more" id="moreInfoBtn">More product information</button>
                    <div class="bottom-buttons">
                        <button type="button" class="btn-primary-add-discard" id="discardChangesBtn">Discard Changes</button>
                        <button type="submit" class="btn-primary-add">Save Changes</button>
                    </div>
                </div>

            </form>
        </div>
    </div>


    <!-- Modal for adding detailed information about product-->
    <div id="addDetailedInfoModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="add-headers">
            <h2 class="section-title">Detailed Product Information</h2>
            <p>In this view, you can add or edit detailed product information.</p>
            </div>

            <form action="{{ url_for('add_product_detail_method') }}" method="POST" class="form">

            <div class="detailed-sections">
                <div class="adding-detailed-section">

                        <div class="input-group">
                            <label for="use_off_info">
                                <input type="checkbox" id="use_off_info" name="use_off_info">
                                Use OFF (Open Food Facts) information
                            </label>
                        </div>

                        <div class="input-group">
                            <label for="barcode_detailed">Barcode</label>
                            <input type="text" id="barcode_detailed" name="barcode_detailed" required class="input-field-required" placeholder="Filled automatically based on the information on previous page">
                        </div>

                        <div class="input-group">
                            <label for="brand">Brand</label>
                            <input type="text" id="brand" name="brand" class="input-field-required" placeholder="Enter brand">
                        </div>
                        
                        <div class="input-group">
                            <label for="parent_company">Parent Company</label>
                            <input type="text" id="parent_company" name="parent_company" class="input-field-required" placeholder="Enter Parent Company">
                        </div>

                        <div class="input-group">
                            <label for="volume_ml">Volume (ml)</label>
                            <input type="text" id="volume_ml" name="volume_ml" class="input-field-required" placeholder="Enter Volume">
                        </div>

                        <div class="input-group">
                            <label for="gluten_free">Gluten Free</label>
                            <div class="btn-group margin-top" role="group" aria-label="Gluten Free Options">
                                <button type="button" class="btn btn-secondary-add" id="yesButton" data-value="Yes">Yes</button>
                                <button type="button" class="btn btn-secondary-add" id="noButton" data-value="No">No</button>
                            </div>
                            <input type="hidden" id="gluten_free" name="gluten_free" value="">
                        </div>                      

                        <div class="input-group">
                            <label for="CO2">CO2 Footprint</label>
                            <input type="text" id="CO2" name="CO2" class="input-field-required" placeholder="Enter CO2 Footprint">
                        </div>

                        <div class="input-group">
                            <label for="Product Image URL">Product Image URL</label>
                            <input type="text" id="product_image_url" name="product_image_url" class="input-field-required" placeholder="Enter Product Image URL">
                        </div>

                </div>

                <div class="adding-detailed-section">

                    <div class="input-group">
                        <label for="product_name_detailed">Product Name</label>
                        <input type="text" id="product_name_detailed" name="product_name_detailed" required class="input-field-required" placeholder="Filled automatically based on the information on previous page">
                    </div>

                    <div class="input-group">
                        <label for="sub_brand">Sub-brand</label>
                        <input type="text" id="sub_brand" name="sub_brand" class="input-field-required" placeholder="Enter Sub-brand">
                    </div>

                    <div class="input-group">
                        <label for="weight">Weight (g)</label>
                        <input type="number" step="0.01" id="weight" name="weight" class="input-field-required" placeholder="Enter Weight">
                        </div>

                    <div class="input-group">
                        <label for="category">Category</label>
                        <input type="text" id="category" name="category" class="input-field-required" placeholder="Enter Category">
                    </div>
                        
                    <div class="input-group">
                        <label for="esg_score">ESG Score</label>
                        <input type="number" step="0.01" id="esg_score" name="esg_score" class="input-field-required" placeholder="Enter ESG Score">
                    </div>

                    <div class="input-group">
                        <label for="product_page_url">Product Page URL</label>
                        <input type="text" id="product_page_url" name="product_page_url" class="input-field-required" placeholder="Enter Product Page URL">
                    </div>
                        
                    <div class="input-group">
                        <div class="add-picture"></div>
                    </div>
                </div>
            </div>

                <div class="all-buttons-add">
                    <div class="bottom-buttons">
                        <button type="button" class="btn-primary-add-discard" id="cancelBtn">Cancel</button>
                        <button type="submit" class="btn-primary-add" id="addDetailedInfo">Accept</button>
                    </div>
                </div>

            </form>
        </div>
    </div>



    <!-- product container --> 
    <div class="products-container">
        {% for product in products %}
            {% for price in product.prices %}
                <div class="product-box" data-product-id="{{ product.product_id }}">
                    <div class="product-image">
                        <img 
                            src="{{ get_product_image(product) if get_product_image(product) else '/static/pictures/placeholder-image.jpg' }}" 
                            class="product-img" alt="Product Image">
                    </div>
                    

                    <div class="product_info">
                        <h3 class="product-name">{{ product.product_name }}</h3>
                        
                        <div class="price-container">
                            <p class="product-discount_price">{{ price.price }} €</p>
                            {% if price.discount_price is not none %}
                                <p class="product-price">{{ price.discount_price }} €</p>
                            {% elif price.waste_discount_percentage is not none %}
                                <p class="product-price">- {{ price.waste_discount_percentage }}%</p>
                            {% endif %}
                        </div>
                                               
                        <p class="product-shop">{{ price.shop.store_name if price.shop else 'N/A' }}</p>
                        
                        {% if price.waste_valid_to is not none %}
                            <p class="product-expiration">{{ price.waste_valid_to.strftime('%d.%m.%Y') }}</p>
                        {% elif price.discount_valid_from is not none and price.discount_valid_to is not none %}
                            <p class="product-expiration">
                                {{ price.discount_valid_from.strftime('%d.%m.%Y') }} - {{ price.discount_valid_to.strftime('%d.%m.%Y') }}
                            </p>
                        {% endif %}
                        
                        <div class="product-details-container">
                            <button class="show-more-btn" onclick="toggleDetails(this)">+</button>
                            <div class="additional-details" style="display: none;">
                                <p><strong>Barcode:</strong> {{ product.barcode }}</p>
                                <p><strong>Brand:</strong> {{ product.brand }}</p>
                                <p><strong>Sub-brand:</strong> {{ product.sub_brand }}</p>
                                <p><strong>Parent Company:</strong> {{ product.parent_company }}</p>
                                <p><strong>Weight:</strong> {{ product.weight }}</p>
                                <p><strong>Volume (ml):</strong> {{ product.volume_ml }}</p>
                                <p><strong>Category:</strong> {{ product.category }}</p>
                                <p><strong>CO2 Footprint:</strong> {{ product.CO2 }}</p>
                                <p><strong>EcoScore:</strong> {{ product.esg_score }}</p>
                                <p><strong>Gluten Free:</strong> {{ product.gluten_free }}</p>
                            </div>
                        </div>
                    
                    </div>

                    <div class="product_buttons">
                        <button type="submit" class="btn-primary-edit-pen" id="EditButton" onclick="populateEditModals('{{product.product_id}}')">✒️</button>
                        <button type="button" class="btn-secondary-delete-trashcan" onclick="deleteProduct('{{ product.product_id }}')">🗑️</button>
                    </div>
                
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    
    <script>
    function toggleDetails(button) {
        const details = button.closest('.product-box').querySelector('.additional-details');
        if (details.style.display === "none" || details.style.display === "") {
            details.style.display = "block";
            button.textContent = "-"; 
        } else {
            details.style.display = "none";
            button.textContent = "+"; 
        }
    }
    </script>    
    



    <!-- Modal for Deletion Confirmation -->
    <div id="deleteConfirmationModal" class="modal">
        <div class="modal-content">
            <span class="close-delete">&times;</span>
            <h2 class="section-title">Confirm Deletion</h2>
            <p>Are you sure you want to delete this product?</p>
            <button id="confirmDeleteButton" class="btn-primary-save">Yes, Delete</button>
            <button class="btn-secondary-delete" id="cancelDeleteButton">Cancel</button>
        </div>
    </div>


    <!--Modal for editing a product-->
    <div id="editProductModal" class="modal">
        <div class="modal-content">
            <span class="close-edit">&times;</span>
            <div class="add-headers">
            <h2 class="section-title">Add Product / Update Product Details</h2>
            <p>Add a product or modify product information with ease.</p>
            </div>

            <input type="hidden" id="edit_product_id" name="product_id">

            <form id="editForm" class="form">
                <div class="adding-section">
                    <h2 class="section-title">Product Details</h2>

                    <div class="input-groups">
                        <div class="input-group">
                            <label for="edit_barcode">Barcode</label>
                            <input type="text" id="edit_barcode" name="edit_barcode" required class="input-field" placeholder="Enter barcode / filled automatically if barcode scanned">
                        </div>

                        <div class="input-group">
                            <label for="edit_product_name">Product Name</label>
                            <input type="text" id="edit_product_name" name="edit_product_name" required class="input-field" placeholder="Enter product name / filled automatically if barcode is found">
                        </div>
                        
                        <div class="input-group">
                            <label for="edit_shop">Shop</label>
                            <select id="edit_shop" name="edit_shop" required class="input-field" placeholder="Select the nearest shop from list / is added automatically if GPS allowed">
                                {% for shop in shops %}
                                    <option value="{{ shop.shop_id }}">{{ shop.store_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="adding-section">
                    <h2 class="section-title">Price Details</h2>

                    <div class="input-groups">
                        <div class="input-group">
                            <label for="edit_price">Normal Price</label>
                            <input type="number" step="0.01" id="edit_price" name="edit_price" required class="input-field" placeholder="Enter normal price">
                        </div>
                        
                        <div class="input-group">
                            <label for="edit_discount_price">Discount Price</label>
                            <input type="number" step="0.01" id="edit_discount_price" name="edit_discount_price" class="input-field" placeholder="Enter discount price">
                        </div>
                        
                        <div class="input-group">
                            <label for="edit_discount_valid_from">Valid From</label>
                            <input type="date" id="edit_discount_valid_from" name="edit_discount_valid_from" required class="input-field">
                        </div>

                        <div class="input-group">
                            <label for="edit_discount_valid_to">Valid To</label>
                            <input type="date" id="edit_discount_valid_to" name="edit_discount_valid_to" required class="input-field">
                        </div>
                    </div>
                </div>

                <div class="adding-section">
                    <h2 class="section-title">Waste Discount Label</h2>

                    <div class="input-groups">
                        <div class="input-group">
                            <label for="edit_waste_discount">Waste Discount (%)</label>
                            <input type="number" step="0.1" id="edit_waste_discount" name="edit_waste_discount" class="input-field" oninput="calculateDisountPrice()" placeholder="Enter discount percentage">
                        </div>
            
                        <div class="input-group">
                            <label for="edit_expiration_date">Expiration Date</label>
                            <input type="date" id="edit_expiration_date" name="edit_expiration_date" required class="input-field">
                        </div>

                        <div class="input-group">
                            <label for="edit_product_amount">Amount in Stock</label>
                            <div class="btn-group margin-top" role="group" aria-label="Stock Amount Options">
                                <button type="button" class="btn btn-secondary-add-edit" id="fewButton-edit" data-value="Few">Few</button>
                                <button type="button" class="btn btn-secondary-add-edit" id="moderateButton-edit" data-value="Moderate">Moderate</button>
                                <button type="button" class="btn btn-secondary-add-edit" id="manyButton-edit" data-value="Many">Many</button>
                            </div>
                            <input type="hidden" id="edit_product_amount" name="edit_product_amount" value="">
                        </div>
                        
                    </div>
                </div>

                <div class="all-buttons-add">
                    <button type="button" class="btn-primary-add-more" id="edit_moreInfoBtn">More product information</button>
                    <div class="bottom-buttons">
                        <button type="button" class="btn-primary-add-discard" id="edit_discardChangesBtn">Discard Changes</button>
                        <button type="submit" class="btn-primary-add">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Modal for adding detailed information about product-->
    <div id="editDetailedInfoModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="add-headers">
            <h2 class="section-title">Detailed Product Information</h2>
            <p>In this view, you can add or edit detailed product information.</p>
            </div>

            <form class="form" id="editDetailedForm">

            
            <input type="hidden" id="edit_product_id" name="product_id">

            <div class="detailed-sections">
                <div class="adding-detailed-section">

                        <div class="input-group">
                            <label for="edit_barcode_detailed">Barcode</label>
                            <input type="text" id="edit_barcode_detailed" name="edit_barcode_detailed" required class="input-field-required" placeholder="Filled automatically based on the information on previous page">
                        </div>

                        <div class="input-group">
                            <label for="edit_brand">Brand</label>
                            <input type="text" id="edit_brand" name="edit_brand" class="input-field-required" placeholder="Enter brand">
                        </div>
                        
                        <div class="input-group">
                            <label for="edit_parent_company">Parent Company</label>
                            <input type="text" id="edit_parent_company" name="edit_parent_company" class="input-field-required" placeholder="Enter Parent Company">
                        </div>

                        <div class="input-group">
                            <label for="edit_volume_ml">Volume (ml)</label>
                            <input type="text" id="edit_volume_ml" name="edit_volume_ml" class="input-field-required" placeholder="Enter Volume">
                        </div>

                        <div class="input-group">
                            <label for="edit_gluten_free">Gluten Free</label>
                            <div class="btn-group margin-top" role="group" aria-label="Gluten Free Options">
                                <button type="button" class="btn btn-secondary-add-edit" id="yesButton-edit" data-value="Yes">Yes</button>
                                <button type="button" class="btn btn-secondary-add-edit" id="noButton-edit" data-value="No">No</button>
                            </div>
                            <input type="hidden" id="edit_gluten_free" name="edit_gluten_free" value="">
                        </div>                      

                        <div class="input-group">
                            <label for="edit_CO2">CO2 Footprint</label>
                            <input type="text" id="edit_CO2" name="edit_CO2" class="input-field-required" placeholder="Enter CO2 Footprint">
                        </div>

                        <div class="input-group">
                            <label for="Product Image URL">Product Image URL</label>
                            <input type="text" id="edit_product_image_url" name="edit_product_image_url" class="input-field-required" placeholder="Enter Product Image URL">
                        </div>

                </div>

                <div class="adding-detailed-section">

                    <div class="input-group">
                        <label for="edit_product_name_detailed">Product Name</label>
                        <input type="text" id="edit_product_name_detailed" name="edit_product_name_detailed" required class="input-field-required" placeholder="Filled automatically based on the information on previous page">
                    </div>

                    <div class="input-group">
                        <label for="edit_sub_brand">Sub-brand</label>
                        <input type="text" id="edit_sub_brand" name="edit_sub_brand" class="input-field-required" placeholder="Enter Sub-brand">
                    </div>

                    <div class="input-group">
                        <label for="edit_weight">Weight (g)</label>
                        <input type="number" step="0.01" id="edit_weight" name="edit_weight" class="input-field-required" placeholder="Enter Weight">
                        </div>

                    <div class="input-group">
                        <label for="edit_category">Category</label>
                        <input type="text" id="edit_category" name="edit_category" class="input-field-required" placeholder="Enter Category">
                    </div>
                        
                    <div class="input-group">
                        <label for="edit_esg_score">ESG Score</label>
                        <input type="number" step="0.01" id="edit_esg_score" name="edit_esg_score" class="input-field-required" placeholder="Enter ESG Score">
                    </div>

                    <div class="input-group">
                        <label for="edit_product_page_url">Product Page URL</label>
                        <input type="text" id="edit_product_page_url" name="edit_product_page_url" class="input-field-required" placeholder="Enter Product Page URL">
                    </div>
                        
                    <div class="input-group">
                        <label for="edit_product_image">Add Image</label>
                        <input type="text" id="edit_product_image" name="edit_product_image" class="input-field-required" placeholder="Enter Product Page URL">
                    </div>
                </div>
            </div>

                <div class="all-buttons-add">
                    <div class="bottom-buttons">
                        <button type="button" class="btn-primary-add-discard" id="cancelBtn-edit">Cancel</button>
                        <button type="submit" class="btn-primary-add" id="addDetailedInfo-edit">Accept</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
        
        
    </section>

    <!-- Information section -->
    <div class="information_container mt-6 text-center">
        <p>Contact Us: support@example.com</p>
        <p>Follow Us: @YourStore</p>
        <p>Terms & Conditions</p>  
    </div>


    <script src="{{ url_for('static', filename='js/confirmDelete.js') }}"></script>

    <script src="{{ url_for('static', filename='js/editProduct.js') }}"></script>

    <script src="{{ url_for('static', filename='js/fetchOFFData.js') }}"></script>

    <script src="{{ url_for('static', filename='js/chooseDiscountOrWaste.js')}}"></script>



<script>
document.querySelectorAll(".btn-secondary-add").forEach(button => {
    button.addEventListener("click", function () {
        // Check if the clicked button already has the 'active' class
        if (this.classList.contains("selected")) {
            // If it does, unselect it by removing the 'selected' class
            this.classList.remove("selected");
            document.getElementById("product_amount").value = ""; // Optional: Clear the value
        } else {
            // If it doesn't, unselect all other buttons first
            document.querySelectorAll(".btn-secondary-add").forEach(btn => btn.classList.remove("selected"));
            // Add the 'selected' class to the clicked button
            this.classList.add("selected");
            const selectedValue = this.getAttribute("data-value");
            document.getElementById("product_amount").value = selectedValue; // Set the value
        }
    });
});
</script>

<script>
    document.querySelectorAll(".btn-secondary-add-edit").forEach(button => {
        button.addEventListener("click", function () {
            // Check if the clicked button already has the 'active' class
            if (this.classList.contains("active")) {
                // If it does, unselect it by removing the 'selected' class
                this.classList.remove("active");
                document.getElementById("product_amount").value = ""; // Optional: Clear the value
            } else {
                // If it doesn't, unselect all other buttons first
                document.querySelectorAll(".btn-secondary-add-edit").forEach(btn => btn.classList.remove("active"));
                // Add the 'selected' class to the clicked button
                this.classList.add("active");
                const selectedValue = this.getAttribute("data-value");
                document.getElementById("product_amount").value = selectedValue; // Set the value
            }
        });
    });
    </script>
    



    <script>
        document.getElementById('yesButton').addEventListener('click', function() {
        document.getElementById('gluten_free').value = 'Yes';
    });

    document.getElementById('noButton').addEventListener('click', function() {
        document.getElementById('gluten_free').value = 'No';
    });
    </script>


    <script>
        // Get the modal and the "Discard Changes" button
        var modal = document.getElementById("addProductModal");
        var discardBtn = document.getElementById("discardChangesBtn");
        var closeBtn = document.getElementsByClassName("close")[0];

        // Function to close the modal
        function closeModal() {
            modal.style.display = "none";
        }

        // Close the modal when the "Discard Changes" button is clicked
        discardBtn.onclick = function() {
            closeModal();
        }

        // Also close the modal when the "×" button is clicked
        closeBtn.onclick = function() {
            closeModal();
        }

        // Optional: Close the modal if the user clicks outside the modal content
        window.onclick = function(event) {
            if (event.target == modal) {
                closeModal();
            }
        }
    </script>

        
    <script>
        // Get the modal and the "Discard Changes" button
        var modal = document.getElementById("editProductModal");
        var discardBtn = document.getElementById("edit_discardChangesBtn");
        var closeBtn = document.getElementsByClassName("close")[0];

        // Function to close the modal
        function closeModal() {
            modal.style.display = "none";
        }

        // Close the modal when the "Discard Changes" button is clicked
        discardBtn.onclick = function() {
            closeModal();
        }

        // Also close the modal when the "×" button is clicked
        closeBtn.onclick = function() {
            closeModal();
        }

        // Optional: Close the modal if the user clicks outside the modal content
        window.onclick = function(event) {
            if (event.target == modal) {
                closeModal();
            }
        }
    </script>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get modal elements
        const addDetailedInfo = document.getElementById("addDetailedInfoModal");
        const previousModal = document.getElementById("addProductModal");

        // Get buttons to trigger modal changes
        const cancelBtn = document.getElementById("cancelBtn");

        // Close the 'Add Detailed Info' Modal and go back to the previous modal
        if (cancelBtn) {
            cancelBtn.onclick = function () {
                addDetailedInfo.style.display = "none"; // Hide detailed info modal
                previousModal.style.display = "block"; // Show previous modal
            };
        }

        // Close modals when clicking outside
        window.onclick = function (event) {
            if (event.target === addDetailedInfo) {
                addDetailedInfo.style.display = "none";
            } else if (event.target === previousModal) {
                previousModal.style.display = "none";
            }
        };
    });
    </script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get modal elements
        const addDetailedInfo = document.getElementById("editDetailedInfoModal");
        const previousModal = document.getElementById("editProductModal");

        // Get buttons to trigger modal changes
        const cancelBtn = document.getElementById("cancelBtn-edit");

        // Close the 'Add Detailed Info' Modal and go back to the previous modal
        if (cancelBtn) {
            cancelBtn.onclick = function () {
                addDetailedInfo.style.display = "none"; // Hide detailed info modal
                previousModal.style.display = "block"; // Show previous modal
            };
        }

        // Close modals when clicking outside
        window.onclick = function (event) {
            if (event.target === addDetailedInfo) {
                addDetailedInfo.style.display = "none";
            } else if (event.target === previousModal) {
                previousModal.style.display = "none";
            }
        };
    });
    </script>

    <script src="../static/language_support.js"></script>

    <script src="../static/js/productModals.js"></script>
    
</body>
</html>
