<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='products_page.css') }}">
</head>
<body>

        <!-- Top bar -->
        <div class="top-bar d-flex align-items-center">
            <div class="profile-picture"></div>
            <h1 class="ml-2">
                <a href="{{ url_for('index') }}" style="text-decoration: none; color: inherit;">Kitsain</a>
            </h1>
            <input type="text" class="form-control search-box ml-3" placeholder="Search...">
            <form action="{{ url_for('products_page') }}" method="GET" class="d-inline">
                <button type="submit" class="btn btn-primary ml-2-1">Products</button>
            </form>
            <form action="{{ url_for('shops_page') }}" method="GET" class="d-inline">
                <button type="submit" class="btn btn-primary ml-2-2">Stores</button>
            </form>
            <button class="btn btn-success ml-2">Add</button>
            <button class="btn btn-info ml-2">My Profile</button>
            <select class="ml-2">
                <option>EN</option>
                <option>FI</option>
                <!-- Add more languages as needed -->
            </select>
        </div>

    <!-- Central search box for products -->
    <div class="container mt-5 text-center">
        <h1 class="ml-3">View all products</h1>
        <p class="ml-4">Here you will find all added and current products at a discounted price. From this view, you can also edit already added products or add new ones. Remember that you can only add current products and specify their locations and other details. Also, make sure to remove a product if you notice it has run out from the store shelf.</p>
        <button type="submit" class="btn btn-primary ml-2" id="addButton">Add</button>
    </div>

    <!-- Product Section -->
    <div class="product_container mt-6 text-center">
        <input type="text" class="form-control search-box ml-6" placeholder="Search for products...">
        <form action="{{ url_for('filter_products') }}" method="POST" class="action-form">
            <button type="submit" class="btn btn-primary ml-6" id="filterButton">Filter</button>
        </form>
    </div>

    <!-- Modal for Filtering Products -->
    <div id="filterProductModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>            
            <form action="{{ url_for('filter_products') }}" method="POST" class="form">
                <div class="input-group">
                    <label for="product_name">Product Name:</label>
                    <input type="text" id="product_name" name="product_name" class="input-field" value="{{ product_name }}">
                </div>
                
                <div class="input-group">
                    <label for="shop">Shop:</label>
                    <input type="text" id="shop" name="shop" class="input-field" value="{{ shop }}">
                </div>
                
                <div class="input-group">
                    <label for="price">Price:</label>
                    <input type="number" step="0.01" id="price" name="price" class="input-field" value="{{ price }}">
                </div>
                
                <div class="input-group">
                    <label for="waste_discount">Waste Discount (%):</label>
                    <input type="number" step="0.1" id="waste_discount" name="waste_discount" class="input-field" value="{{ waste_discount }}">
                </div>
                
                <div class="input-group">
                    <label for="expiration_date">Expiration Date:</label>
                    <input type="date" id="expiration_date" name="expiration_date" class="input-field" value="{{ expiration_date }}">
                </div>
                
                <button type="submit" class="btn-primary-add">Filter</button>
            </form>
        </div>
    </div>



<!-- Modal for Adding New Product -->
<div id="addProductModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="section-title">NOT FOUND! ADD NEW PRODUCT?</h2>
        
        <form action="{{ url_for('add_product') }}" method="POST" class="form">
            <div class="input-group">
                <label for="product_name">Product Name:</label>
                <input type="text" id="product_name" name="product_name" required class="input-field">
            </div>
            
            <div class="input-group">
                <label for="shop">Shop:</label>
                <input type="text" id="shop" name="shop" required class="input-field">
            </div>
            
            <div class="input-group">
                <label for="price">Price:</label>
                <input type="number" step="0.01" id="add-price" name="price" required class="input-field">
            </div>
            
            <div class="input-group">
                <label for="discount_price">Discount Price:</label>
                <input type="number" step="0.01" id="discount_price" name="discount_price" class="input-field" oninput="calculateWasteDiscount()">
            </div>
            
            <div class="input-group">
                <label for="waste_discount">Waste Discount (%):</label>
                <input type="number" step="0.1" id="waste_discount_add" name="waste_discount" class="input-field" oninput="calculateDisountPrice()">
            </div>
            
            <div class="input-group">
                <label for="expiration_date">Expiration Date:</label>
                <input type="date" id="expiration_date" name="expiration_date" required class="input-field">
            </div>
            
            <button type="submit" class="btn-primary-add">Add Product</button>
        </form>
    </div>
</div>




    <!-- product container --> 
        <div class="products-container">
            {% for product in products %}
                {% for price in product.prices %}
                    <div class="product-box" data-product-id="{{ product.product_id }}">
                        <div class="placeholder-image"></div>
                        <div class="product_info">
                        <h3 class="product-name">{{ product.product_name }}</h3>
                        <div class="price-container">
                            <p class="product-discount_price">{{ price.price }} €</p>
                            <p class="product-price">{{ price.discount_price }} €</p>
                        </div>
                        <p class="product-discount"> - {{ price.waste_discount_percentage if price.waste_discount_percentage else 'N/A' }}%</p>
                        <p class="product-shop">{{ price.shop.store_name if price.shop else 'N/A' }}</p>
                        <p class="product-expiration">{{ price.valid_to_date.strftime('%d.%m.%Y') if price.valid_to_date else 'N/A' }}</p>
                        </div>
                        <div class="product_buttons">
                            <button type="submit" class="btn-primary-edit" id="EditButton">Edit</button>
                            <button type="button" class="btn-secondary-delete" onclick="deleteProduct('{{ product.product_id }}')">Delete</button>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>


    <!-- Modal for Deletion Confirmation -->
    <div id="deleteConfirmationModal" class="modal">
        <div class="modal-content">
            <span class="close-delete">&times;</span>
            <h2 class="section-title">Confirm Deletion</h2>
            <p>Are you sure you want to delete this product?</p>
            <button id="confirmDeleteButton" class="btn-primary-save">Yes, Delete</button>
            <button class="btn-secondary-delete" id="cancelDeleteButton">Cancel</button>
        </div>
    </div>


    <!-- Modal for Editing Product -->
    <div id="editProductModal" class="modal">
        <div class="modal-content">
            <span class="close-edit">&times;</span>
            <h2 class="section-title">Edit Product</h2>
            
            <form id="editForm" class="form">
                <!-- Separate fields with labels -->
                <input type="hidden" id="edit_product_id" name="product_id">

                <div class="input-group">
                    <label for="edit_product_name">Product Name:</label>
                    <input type="text" id="edit_product_name" name="product_name" required class="input-field">
                </div>
                
                <div class="input-group">
                    <label for="edit_shop">Shop:</label>
                    <input type="text" id="edit_shop" name="shop" required class="input-field">
                </div>
                
                <div class="input-group">
                    <label for="edit_price">Price:</label>
                    <input type="number" step="0.01" id="edit_price" name="price" required class="input-field" >
                </div>
                
                <div class="input-group">
                    <label for="edit_waste_discount">Waste Discount (%):</label>
                    <input type="number" step="0.1" id="edit_waste_discount" name="waste_discount" required class="input-field">
                </div>
                
                <div class="input-group">
                    <label for="edit_expiration_date">Expiration Date:</label>
                    <input type="date" id="edit_expiration_date" name="expiration_date" required class="input-field">
                </div>
                
                    <button type="submit" class="btn-primary-save">Save Changes</button>
            </form>
        </div>
    </div>
        
        
    </section>


    <script src="{{ url_for('static', filename='js/confirmDelete.js') }}"></script>

    <script src="{{ url_for('static', filename='js/editProduct.js') }}"></script>

    <script src="{{ url_for('static', filename='js/calculateWasteDiscount.js') }}"></script>

    <script>
        // Function to handle opening and closing the Add Product modal
        function handleAddProductModal() {
            // Get the modal for adding products
            var modal = document.getElementById("addProductModal");
            // Get the button that opens the modal
            var btn = document.getElementById("addButton");
            // Get the <span> element that closes the modal
            var span = modal.getElementsByClassName("close")[0];
    
            // When the user clicks the button, open the modal 
            btn.onclick = function(event) {
                event.preventDefault(); // Prevent form submission
                modal.style.display = "block";
            }
    
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }
    
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
    
        // Function to handle opening and closing the Filter Products modal
        function handleFilterProductModal() {
            // Get the modal for filtering products
            var modal = document.getElementById("filterProductModal");
            // Get the button that opens the modal
            var btn = document.getElementById("filterButton");
            // Get the <span> element that closes the modal
            var span = modal.getElementsByClassName("close")[0];
    
            // When the user clicks the button, open the modal 
            btn.onclick = function(event) {
                event.preventDefault(); // Prevent form submission
                modal.style.display = "block";
            }
    
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }
    
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
    
        // Initialize modals
        handleAddProductModal();
        handleFilterProductModal();
    </script>
    
</body>
</html>
