<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='shops_page.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

            <!-- Top bar -->
            <div class="top-bar d-flex align-items-center">
                <div class="profile-picture"></div>
                <h1 class="ml-2">
                    <a href="{{ url_for('index') }}" style="text-decoration: none; color: inherit;">Kitsain</a>
                </h1>
                <input type="text" class="form-control search-box ml-3" placeholder="Search...">
                <form action="{{ url_for('products_page') }}" method="GET" class="d-inline">
                    <button type="submit" class="btn btn-primary ml-2-1">Products</button>
                </form>
                <form action="{{ url_for('shops_page') }}" method="GET" class="d-inline">
                    <button type="submit" class="btn btn-primary ml-2-2">Stores</button>
                </form>
                <button class="btn btn-success ml-2">Add</button>
                <form action="{{ url_for('my_profile_page') }}" method="GET" class="d-inline">
                    <button class="btn btn-info ml-2">Profile</button>
                </form>
                <!-- Google Translate element -->
                <div id="google_translate_element"></div>
                <!-- <select class="ml-2">
                    <option>EN</option>
                    <option>FI</option> -->
                    <!-- Add more languages as needed -->
                <!-- </select> -->
            </div>

    <!-- Central search box for shops -->
    <div class="container mt-5 text-center">
        <h1 class="ml-3">View all shops</h1>
        <p class="ml-4">Here you can view and manage all registered shops, including details like location, chain, and assigned shopkeepers. Easily add new shops, edit current ones, or filter through the list for quick access. To keep information accurate, remember to update shopkeepers as needed and remove any shops that are no longer active in the system.</p>
        <button type="submit" class="btn btn-primary ml-2" id="addButton">Add</button>
    </div>


    <!-- Shop Section -->
    <div class="product_container mt-6 text-center">
        <input type="text" class="form-control search-box ml-6" placeholder="Search for shops...">
        <button id="filterButton" class="btn btn-primary ml-6" id="filterButton">Open Filter</button>
    </div>


    <!-- Modal for Filtering Shops -->
    <div id="filterShopsModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 class="section-title">Filter Shops</h2>
            
            <form action="{{ url_for('filter_shops_method') }}" method="POST" class="form">
                <div class="input-group">
                    <label for="store_name">Store Name:</label>
                    <input type="text" id="store_name" name="store_name" class="input-field" value="{{ store_name }}">
                </div>
                
                <div class="input-group">
                    <label for="location_address">Location:</label>
                    <input type="text" id="location_address" name="location_address" class="input-field" value="{{ location_address }}">
                </div>
                
                <div class="input-group">
                    <label for="chain">Chain:</label>
                    <input type="text" id="chain" name="chain" class="input-field" value="{{ chain }}">
                </div>
                
                <div class="input-group">
                    <label for="shopkeepers">Shopkeeper(s):</label>
                    <input type="text" id="shopkeepers" name="shopkeepers" class="input-field" value="{{ shopkeepers }}">
                </div>
                
                <button type="submit" class="btn btn-primary filter">Filter</button>
            </form>
            
        </div>
    </div>


        <!-- Modal for Adding New Product -->
    <div id="addProductModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 class="section-title">NOT FOUND! ADD NEW SHOP?</h2>
            
            <form action="{{ url_for('add_shop_method') }}" method="POST" class="form">
                <div class="input-group">
                    <label for="product_name">Store Name:</label>
                    <input type="text" id="store_name" name="store_name" required class="input-field">
                </div>
                
                <div class="input-group">
                    <label for="shop">Location:</label>
                    <input type="text" id="location_address" name="location_address" required class="input-field">
                </div>

                <div class="input-group">
                    <label for="gps">GPS Coordinates:</label>
                    <input type="text" id="gps" name="gps" class="input-field" placeholder="latitude, longitude">
                </div>
                
                <div class="input-group">
                    <label for="price">Chain:</label>
                    <input type="text" id="chain" name="chain" required class="input-field">
                </div>
                
                <div class="input-group">
                    <label for="Shopkeeper(s)">Shopkeeper(s):</label>
                    <input type="text" id="shopkeepers" name="shopkeepers"  required class="input-field">
                </div>
                
                <button type="submit" class="btn-primary-add">Add Shop</button>
            </form>
        </div>
    </div>


    <div class="shops-container">
        <div class="shop-header">
            <div class="shop-column">Store Name</div>
            <div class="shop-column">Location Address</div>
            <div class="shop-column">Store Chain</div>
            <div class="shop-column">Shopkeeper(s)</div>
            <div class="shop-column">Creation Date</div>
            <div class="shop-column">Actions</div>
        </div>
        <div class="shop-body">
            {% for shop in shops %}
            <div class="shop-row">
                <div class="shop-column">{{ shop.store_name }}</div>
                <div class="shop-column">{{ shop.location_address }}</div>
                <div class="shop-column">{{ shop.store_chain }}</div>
                <div class="shop-column">
                    {% if shopkeepers_data[shop.shop_id] %}
                        {% for shopkeepers in shopkeepers_data[shop.shop_id] %}
                            {% for shopkeeper in shopkeepers %}
                                {{shopkeeper.username}} {%if not loop.last%}, {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        No shopkeepers assigned
                    {% endif %}
                </div>
                <div class="shop-column">{{ shop.creation_date.strftime('%d.%m.%Y') }}</div>
                <div class="shop-column">
                    <form action="{{ url_for('remove_shop_method', shop_id=shop.shop_id) }}" method="POST" class="action-form">
                        <button type="submit" class="btn-secondary">Delete</button>
                    </form>
                    <form action="{{ url_for('modify_shopkeepers_method', shop_id=shop.shop_id) }}" method="POST" class="action-form">
                        <button type="submit" class="btn-secondary">Modify shopkeepers</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Information section -->
    <div class="information_container mt-6 text-center">
        <p>Contact Us: support@example.com</p>
        <p>Follow Us: @YourStore</p>
        <p>Terms & Conditions</p>  
    </div>
    
    <script>
        // Function to handle opening and closing the Add Product modal
        function handleAddShopModal() {
            // Get the modal for adding products
            var modal = document.getElementById("addProductModal");
            // Get the button that opens the modal
            var btn = document.getElementById("addButton");
            // Get the <span> element that closes the modal
            var span = modal.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            btn.onclick = function(event) {
                event.preventDefault(); // Prevent form submission
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        // Function to handle opening and closing the Filter Products modal
        function handleFilterShopModal() {
            // Get the modal for filtering products
            var modal = document.getElementById("filterShopsModal");
            // Get the button that opens the modal
            var btn = document.getElementById("filterButton");
            // Get the <span> element that closes the modal
            var span = modal.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            btn.onclick = function(event) {
                event.preventDefault(); // Prevent form submission
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        // Initialize modals
        handleAddShopModal();
        handleFilterShopModal();
    </script>
    <script src="../static/language_support.js"></script>
</body>
</html>
